.row {
	margin: 10px;
}
.button {
	margin: 10px;
}
body {
	background-color: white;
}
h1 {
	background-color: #337ab7;
	height: 50px;
	color: white;
	font-family: sans-serif;
}
p {
	font-size: 14pt;
	padding-left: 10px;
}
